<h2>Update user number {{user?.id}}: </h2>
<form [formGroup] = "userform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" value="{{user?.name}}">
  </div>
  <div>
    <label for="phone_number"></label>
    <input type="text" name="phone" id="phone" class="form-control" formControlName = "phone" value="{{user?.phone}}">
  </div>
  <br>
  <input type="submit" value="Update the user" class="btn btn-primary">
</form>
